.is-content-disabled {
    pointer-events: none;
}
.fillbox {
    & > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &>form {
            width: auto !important;
        }
        .MuiTextField-root {
            .MuiOutlinedInput-notchedOutline {
                display: none;
            }
        }
        .blank_basic {
            margin: 10px !important;
            border-color: #98c93c !important;
            .MuiOutlinedInput-input {
                padding: 10px;
            }
        }
    }
}
