.drop-options-wrapper {
  width: 138px;
  height: 37px;
  border-radius: 4px;
  background-color: #DDDDEA;
  margin: 0 5px;

  div{
    border: 1px solid blue;
    height: 100%;
    width: 100%;
  }
}

.drag-options {
  border: 1px solid green;
  margin: 50px 0;

  .list {
    padding: 0;
    color: black;
  }
}