.paper {
  padding: 8px;
  border-radius: 8px;
  box-shadow: '0 4px 5px 0 rgba(0, 0, 0, 0.14);';
  width: 50%;
  margin: 5%;
}

.radio-wrapper {
  margin-top: 20px;

}
.img-wrapper {
  img {
    max-width: 390px;
    height: 191px;
  }
  .cake-vdo-row {
    max-width: 390px;
  }
  .MuiFormGroup-root, .MuiFormControlLabel-root {
    .vdo-player-wrapper {
      .MuiSvgIcon-root {
        font-size: 48px !important;
      }
    }
    .MuiTypography-root {
      padding: 9px 0 !important;
    }
  }
  &>div {
    .MuiTypography-root {
      div {
        // font-family: 'Gotham Rounded' !important;
        // font-size: 12px;
        br {
          display: none;
        }
      }
    }
    .MuiRadio-root {
      position: relative;
      margin-right: 0;
      @media screen and (min-width: 992px){
        margin-right: 24px;
      }
      &::before {
        font-family: 'Gotham Rounded';
        font-size: 15px;
        color: #8F8E98;
        border-radius: 50px;
        border: 3px solid;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 1.3;
      }
      &.Mui-checked {
        &::before {
          color: #98C93C;
        }
      }
      .MuiFormControlLabel-root {
        flex: 1;
      }
    }
    &:nth-child(1) {
      margin-bottom: 24px;
      border-bottom: 1px solid #B9B9CB;
      padding-bottom: 24px;
    }
    &.MuiFormGroup-root {
      margin-bottom: 24px;
      .MuiTypography-root {
        padding: 24px 0;
        img {
          margin-bottom: 0;
        }
      }
      .MuiFormControlLabel-root {
        position: relative;
        margin: 0;
        .MuiTypography-root {
          flex: 1;
        }
      }
    }
  }
  .Mui-checked + span{
    &::before {
      content: "";
      position: absolute;
      border: 2px solid #98C93C;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  .chk-opt-item {
    position: relative;
    margin: 10px 0;
  }
}
.is-content-disabled {
  pointer-events: none;
}
.audio-label-class .MuiFormControlLabel-label {
  width: 100%;
}
